/******************** HOVER CARDS *******************/

/****index.php*****/
.photo-bloc img.eye-icone{
    position: relative !important;
    object-fit: scale-down !important;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 300ms;
    height: 100%;
    margin-top: -200%;
    margin-bottom: 18px;
    opacity: 0;
    z-index: 2;
}

.cat-container,
.ref-container{
    z-index: 2;
}

/*****single-photo.php*********/
.photo-apparentee img.eye-icone{
    object-fit: scale-down !important;
    opacity: 0;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 300ms;
    margin-top: -200%;
    margin-bottom: 18px;
}


.infos-hover{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    margin-top: -70px;
    color: white;
    text-transform: uppercase;
    opacity: 0;
    transition: 200ms;
}




















