/*
description : Styles de la page d'Accueil (index.php)
*/


/***************** HERO HEADER ****************/
.hero-header {
    position: relative;
    width: 100%;
    height: 60vw;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-header h1 {
    width: 85%;
    -webkit-text-stroke: 3px #ffffff;
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}

/******* bloc de photos accueil*********/
section.justify-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.photos-accueil-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-bloc{
    width: 49% !important;
    height: 495px;
    margin: 10px 0;
}

.photo-bloc a{
    display: inline-block;
    height: 100%;
}

.photo-bloc img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.pagination-accueil-container{
    text-align: center;
}

.pagination-photos{
    width: 272px;
    height: 50px;
    cursor: pointer;
    font-family: 'SpaceMono';
    font-size: 12px;
    background-color: #D8D8D8;
    margin: 50px;
    border: none;
    border-radius: 2px;
}

.pagination-photos:hover{
    background-color: #000000;
    color: #ffffff;
}

/* message fin de galerie */
.mess-end-load-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.mess-end-load-gallery p{
    color: #FE5858;
    font-style: italic;
    font-weight: 600;
}

#icone-pinkCam{
    width: 38px;
    margin: 0 10px;
    object-fit: cover;
}

/***** Page d accueil mobile *****/
@media screen and (max-width: 850px) {
   .hero-header{
        height: 73vw;
    }
    .hero-header h1 {
        width: 100%;
    }
    .photo-bloc{
        width: 100% !important;
        height: 70vw !important;
    }
    .pagination-accueil-container{
        width: 100%;
        display: flex;
        justify-content: center;

    }
    .pagination-photos{
        margin-bottom: 45px;
    }
}


/************* FILTRES DESKTOP ************/

.justify-center{
    display: flex;
    justify-content: center;
}
.filtres-container{
    display: flex;
    justify-content: space-between;
    margin: 60px 0 30px 0;
    width: 80%;
}

.filtres-droite,
.filtres-gauche{
    width: 50%;
    display: flex;
}

.filtres-gauche{
    justify-content: space-between;
    padding-right: 25px;
}
.filtres-droite{
    justify-content: end;
}

.s-hidden {
    visibility: hidden;
}

.select {
    height: 42px;
    width: 43%;
    cursor: pointer;
    /* display: inline-block; */
    position: relative;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    border-radius: 8px;
    padding: 12px 10px 0 10px;
    margin: 2px 0;
}
.styledSelect {
    position: absolute;
    font-weight: bold;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 8px;
    padding: 0 10px;
    border: 1px solid #B8BBC2;
    padding: 17px 10px 0 10px;
}

.styledSelect:after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    border-color: black transparent transparent transparent ;
    position: absolute;
    top: 22px;
    right: 6px;
}

.styledSelect.active::after{
    rotate: 180deg;
    top: initial;
}

/* #order-select,
#categorie-select,
#format-select{
    display: none;
} */


/* .styledSelect:after {
    content: "^";
    font-size: 14px; 
    position: absolute;
    top: 18px;
    right: 6px;
    width: 100%;
} */



.styledSelect:active, 
.styledSelect.active {
    border-bottom-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border: 1px solid #215AFF;
}

.options {
    display:none;
    position:absolute;
    font-family: 'Poppins';
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    top:100%;
    right:0;
    left:0;
    margin: 0;
    padding: 0;
    list-style: none;
    border: 1px solid #B8BBC2;
    background-color: white;
    box-shadow:0 1px 2px rgba(0, 0, 0, 0.2);
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    z-index: 4;
    overflow: hidden !important;
}
.options li {
    height: 42px;
    padding:0 10px;
    display: flex;
    align-items: center;
}
.options li:hover {
    background-color:#E00000;
    color:white;
}
.options li:active{
    background-color: #FE5858;
    color: white;
}


.options li:nth-child(1){
    opacity: 0 !important;
}
.options li:nth-child(4){
    display: none;
}

/****** FILTRES MOBILE *****/
@media screen and (max-width:850px) {
    
    .filtres-container{
        justify-content: center;
        margin: 30px 0;
        flex-direction: column;
        max-width: 270px;
    }

    .filtres-droite,
    .filtres-gauche{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .filtres-gauche{
        flex-direction: column-reverse;
        padding: 0;
    }

    .select,
    select{
        width: initial;
    }   
} 









