/*
description : Styles de la page d'Accueil (index.php)
*/


/***************** HERO HEADER ****************/
.hero-header {
    position: relative;
    width: 100%;
    height: 90vh;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.hero-header h1 {
    width: 85%;
    -webkit-text-stroke: 3px #ffffff;
    position: absolute;
    color: transparent;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
    text-align: center;
}


/******* bloc de photos accueil*********/
section.justify-center{
    width: 100%;
    display: flex;
    justify-content: center;
}

.photos-accueil-container{
    width: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.photo-bloc{
    width: 49% !important;
    height: 495px;
    margin: 10px 0;
}

.photo-bloc a{
    display: inline-block;
    height: 100%;
}

.photo-bloc img{
    height: 100%;
    width: 100%;
    object-fit: cover;

}

/**** OEIL AU SURVOL  *****/
/* .photo-bloc img.eye-icone{
    z-index: 1000 !important;
    position: relative !important;
    object-fit: scale-down !important;
    background-color: rgba(0, 0, 0, 0.4);
    transition: 300ms;
    height: 100%;
    margin-top: -200%;
    margin-bottom: 18px;
} */


.pagination-accueil-container{
    text-align: center;
}

.pagination-photos{
    width: 272px;
    height: 50px;
    cursor: pointer;
    font-family: 'SpaceMono';
    font-size: 12px;
    background-color: #D8D8D8;
    margin: 50px;
    border: none;
    border-radius: 2px;
}

.pagination-photos:hover{
    background-color: #000000;
    color: #ffffff;
}

/* message fin de galerie */
.mess-end-load-gallery{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
}

.mess-end-load-gallery p{
    color: #FE5858;
    font-style: italic;
    font-weight: 600;
}

#icone-pinkCam{
    width: 38px;
    margin: 0 10px;
    object-fit: cover;
}

/***** Page d accueil mobile *****/
@media screen and (max-width: 850px) {
    
    .hero-header{
        height: 73vw;
    }

    .hero-header h1 {
        width: 100%;
    }

    .photo-bloc{
        width: 100% !important;
        height: 70vw !important;
    }

    .pagination-accueil-container{
        width: 100%;
        display: flex;
        justify-content: center;

    }

    .pagination-photos{
        margin-bottom: 45px;
    }

    
}
















