/*
description : Styles pour la modale
*/

/**************** MODALE DESKTOP *******************************/

/* The Modal */
.modal {
    display: none; /* par défaut, la modal est cachée */
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); /* centre correctement */
    width: 597px;
    border: 5px black solid;
    background-color: #fff; 
    z-index: 4;
    padding: 0;
    animation: fadeIn 3s forwards !important;
}

/* Modal Content */
.modal-content {
    overflow: hidden;
    animation: fadeIn 4s forwards !important;
}

/* Style de l'image du header de la modale*/
#img-modal {
    width: 800px;
    height: 106px;
    margin-top: 18px;
}

/* Style formulaire de la modale*/
#contact-form-container{
    display: flex;
    justify-content: center;
}

#contact-form-container form p input.wpcf7-submit {
    width: 100%;
    height: 50px;
    font-family: 'spacemono';
    background-color: #D8D8D8;
    border: #B8BBC2 1px solid;
    border-radius: 2px;
}

#contact-form-container form p input.wpcf7-submit:hover{ /* j ai appliqué les même styles que le cta charger plus cf maquette */
    background-color: #000;
    color: #fff;
    font-weight: 700;
}
label{
    font-size: 12px;
    font-family: 'poppins';
    font-weight: 500;
}

input.wpcf7-text{
    height: 40px;
    border-radius: 8px;
    border: 1px #B8BBC2 solid;
}

#contact-form-container form p label.label-message textarea {
    height: 210px;
    resize: none;
    border: #B8BBC2 1px solid;
    border-radius: 8px;
    padding: 8px;
}

input#reference-photo{
    text-transform: uppercase;
}

/*************************************** gestion de la modale en mobile *********************************************************/
@media screen and (max-width: 850px) {
    .modal {
        width: 286px;
    }

    #img-modal{
        margin-bottom: 18px;
        height: 55px;
        width: 460px;
    }
 
    #wpcf7-f27-o1{
        width: 190px;
        margin-top: 18px;
        margin-bottom: -15px;
    }

    label{
        display: inline-block;
        width: 100%;
        margin-bottom: 15px;
    }

    input.wpcf7-text {
        width: 100%;
    }

    #contact-form-container form p label.label-message textarea{
        width: 178px;
        height: 149px;
    }

    input{
        margin: 4px 0 20px 0;
    }

    input.wpcf7-submit{
        margin: 21px 0 10px 3px;
        border-radius: 2px;
    }
}


