/*
description : Styles pour single-photos
*/

/*********************  SINGLE-PHOTO.PHP  ************************/
/***section infos****/
.post-aera{
    margin: 0 146px;
}

.post-content{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-top: 25px;
}

.post-content figure{
    max-width: 50%;
    margin: 0;
    display: flex;
    align-items: end;
    /* padding-top: 25px; */
    /* display: contents; */
}

.post-content figure img{
   height: 100%;
   object-fit: cover;
}

.post-infos{
    /* display: flex;
    flex-direction: column; */
    width: 50%;
    margin-right: 10px;
    border-bottom: 1px black solid;
    display: flex;
    align-items: end;
    padding-bottom: 50px;
}

.infosPost{
    max-width: 77%;
}

.post-infos h2,
.post-infos p{
    text-transform: uppercase;
    /* width: 420px; */
}

.post-infos h2{
    margin: 0 0 20px 0;
    line-height: 58px;
}

.post-infos p{
    font-size: 14px;
    font-family: 'spacemono';
}


/********section contact*********/
.contact-post-container{
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.contact-post-aera{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-post-aera div p{
    font-family: 'poppins';
    font-size: 14px;
    font-weight: 300;
}

.bouton-single-photo a{
    width : 200px;
    background-color: #D8D8D8;
    height : 50px;
    display : flex;
    justify-content: center;
    align-items: center;
    font-family : 'SpaceMono';
    font-size : 12px;
    text-decoration: none;
    color: #000;
    box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.02);
}

.bouton-single-photo a:hover{
    background-color: black;
    color: white;
    transition: 0.5s;
}

/***********section miniature et fleches***********/
.miniature-container{
    width: 81px;
    display: flex;
    justify-content: center;
}

.miniature-container img{
    width: 100%;
    object-fit: cover;
}

.fleches-container{
    display: flex;
    justify-content: space-between;
}

@keyframes moveLeftRight {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(5px);
    }
    100% {
        transform: translateX(0);
    }
}

.arrow-left:hover {
    animation: moveRightLeft 0.5s ease infinite;
}

@keyframes moveRightLeft {
    0% {
        transform: translateX(0);
    }
    50% {
        transform: translateX(-5px);
    }
    100% {
        transform: translateX(0);
    }
}

.arrow-right:hover {
    animation: moveLeftRight 0.5s ease infinite;
}

.arrow-left,
.arrow-right{
    width: 25px;
}


/*****section autres photos****/
.autre-post-aera{
    border-top: 1px black solid;
}

.autre-post-title{
    font-family: 'spacemono';
    font-size: 18px;
    font-weight: 400;
    margin: 50px 0 30px 0;
}

.bouton-all-photos{
    display: flex;
    justify-content: center;
    margin: 40px 0 50px 0;
}

/********** section photos apparentées ***********/
.photos-apparentees-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 75px;
}

div.photo-apparentee{
    max-height: 495px;
    max-width: 50%;
    /* margin-right: 20px; */
}

div.photo-apparentee:nth-child(1){
    margin-right: 10px;
}

div.photo-apparentee:nth-child(2){
    margin-left: 10px;
}


div.photo-apparentee img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

/********** page single photo mobil **********/
@media screen and (max-width: 850px) {
    .post-aera{
        margin: 0 !important;
    }

    .post-content{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }

    .post-content figure{
        max-width: 100%;
        justify-content: center;
        margin: 0 50px 10px 50px;
    }


    .contact-post-aera{
        width: 100%;
        flex-direction: column;
        margin-left: 50px;
        align-items: normal;
    }

    .miniature-aera{
        display: none;
    }

    .post-infos{
        width: 100%;
        margin: 0;
        padding-bottom: 25px !important;
    }

    .infosPost{
        max-width: 100% !important;
        margin: 0 50px;
    }

    .post-infos h2, .post-infos p{
        width: 100%;
    }

    .post-infos h2{
        margin: 0 !important;
        line-height: 100%;
    }

    .contact-post-container{
        margin-bottom: 25px;
    }

    .contact-post-aera div{
        width: 100%;
        /* margin-left: 75px; */
    }


    .bouton-single-photo{
        display: contents;
        /* width: 263px; */
    }

    .bouton-single-photo a{
        max-width: 263px;
    }

    .autre-post-title{
        display: flex;
        justify-content: center;
        margin: 25px 20px;
    }

    .photos-apparentees-container{
        display: flex;
        flex-direction: column !important;
        margin-bottom: 0;
    }

    .photo-apparentee{
        max-width: 100% !important;
        margin: 0 20px 20px 20px;
        max-height: 80vw !important;
    }

    div.photo-apparentee:nth-child(1){
        margin: 0 20px 20px 20px;
    }
    
    div.photo-apparentee:nth-child(2){
        margin: 0 20px 20px 20px;
    }

    .photo-apparentee img{
        height: 100% !important;
    }

    #redirection-accueil{
        margin: 0 50px 15px 50px; 
    }

    #redirection-accueil a{
        color: #FE5858;
        transition: transform 0.3s ease;
    }

    #redirection-accueil a:hover{
        color: #E00000;
        transform: scale(1.2) !important;
        transition: transform 0.3s ease;
 
    }
}






